@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido ingeniero!</h1> </br>
    <h4>Este proyecto es para el parcial de ACC, Periodo II</h4>
    
</div>
