@{
    ViewData["Title"] = "Parcial ACC";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido ingeniero!</h1> </br>
    <h4>Segundo exámen Parcial</h4>
    <h4>Carné: 2014-AR-603 Nombre: David Asaf Amaya Rivas</h4>
    
</div>
